			#copyright {
				color: grey;
				text-align: center;
				color: gray
				}
			#follow {
				font-size: 150%;
				}


* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

nav {
	width: 100%;
	height: 100px;
	background-color: crimson;
}

ul {

}

ul li {
	list-style: none;
	display: inline-block;
	float: left;
	line-height: 100px;
}

ul li a {
	display: block;
	text-decoration: none;
	text-decoration: none;
	font-size: 20px;
	font-family: arial;
	color: black;
	padding: 0 20px;
}

ul li a:hover {
	background-color: red;
	color: white;
}

			.headings {
				text-align: center;
				background-color: lightgray;
				color: white;
				border: 2px solid black;
				margin: 20px;
				padding: 20px;
				}
				
h1 {
	text-align: center;
	color: orange;
}